@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #09090d;
  --foreground: #ffffff;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* React Day Picker - dark dropdowns */

.rdp-dropdown {
  background-color: #15121f;
  color: white;
  color-scheme: dark;
}

.rdp-dropdown option {
  background-color: #15121f;
  color: white;
}
.rdp-dropdowns {
  color-scheme: dark;
}

/* Custom scrollbar */
.chat-scroll::-webkit-scrollbar {
  width: 8px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0.3);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 92, 246, 0.55);
}

.chat-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(139, 92, 246, 0.4) transparent;
}

/* PREMIUM PURPLE SCROLLBAR */

.premium-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(139, 92, 246, 0.65) rgba(255, 255, 255, 0.03);
}

/* Chrome, Edge, Safari */

.premium-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.premium-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 999px;
}

.premium-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #a78bfa,
    #7c3aed
  );
  border-radius: 999px;
  border: 2px solid #121117;
}

.premium-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #c4b5fd,
    #8b5cf6
  );
}